#SelectTopic.container{							/*contact.php*/
	width: 90%;
	display: flex;
	background-color: gray;
	height: 100vh;
	margin: 0 auto;
	flex-flow: row nowrap;
}

.container h1{									/*contact.php*/
	color: white;
	margin: 60px 0;
}

.container_2{ 									/*contact.php*/
	display: flex;
	/* background: DodgerBlue; */
	justify-content: center;
	width: 100%;
	justify-items: center;
	/* background: rgb(255, 243, 243); */
	background: #acb6e5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container_2 > div{
	width: 35%;
	margin: 10px;
	min-height: 400px;
	color: rebeccapurple;
	line-height: 25px;
	padding-top: 20px;
	margin-top: 80px;
	position: relative;
}

.container_2  h1{
	font-family: 'Poppings', sans-serif;
	font-size: 36px;
	font-weight: 800;
	color: midnightblue;
	padding: 10px 0 10px 30px;
	/* margin-bottom: 10px; */
}

.container_2  p{
	font-family: 'Poppings', sans-serif;
	font-size: 18px;
	font-weight: 100;
	color: #000;
	padding: 20px 0 10px 30px;
	max-width: 75%;
}

#SelectTopic{
	height: 44px;
	border: 1px solid rgb(42, 0, 230) ;
	overflow: hidden;
	margin: 40px 5px 20px 30px;
	background-color: rgb(187, 166, 99);
	font-family: 'Poppings', sans-serif;
	font-size: 16px;
	color: #000;
	width: 250px;
}

#SelectTopic option{
	width: 60px;
	font-size: 1em;
	padding: 10px 0 10px 15px;
	text-align: center;
	margin-right: 20px;
	display: inline-block;
	cursor: pointer;
	/* border:rgb(204, 204, 0) solid 1px; */
	border-radius: 5px;
	color: black;
	outline: none;
	border-bottom: 1px dotted #4f4f4f ;
 }


#SelectTopic .topics{
	color: rgb(187, 166, 99);
	font-size: .1em;
	visibility: hidden;
}

#GetAnswers{
	height: 44px;
	border: none;
	overflow: hidden;
	margin: 40px 5px 20px 5	px;
	background-color: rgb(42, 0, 230);
	font-family: 'Poppings', sans-serif;
	font-size: 18px;
	color: rgb(255, 255, 255);
	width: 165px;
	cursor: pointer;
	border-radius: 5px;
	text-transform: uppercase;
}

#GetAnswers:hover{
	background: rgb(28, 92, 36);
	color: #fff;
	transition: 1s;
	border-radius: 10px;
	border: none;
}

.hide {
	display: none;
}

.MockI{
	display: none;
}

.helpTopics{
	max-height: 380px;
	overflow: auto;
}


.helpTopics h1{
	padding-bottom: 20px;
}

.helpTopics details{
	padding-left: 30px;
	cursor: pointer;
	font-size: large;
	padding-bottom: 1px;
}


.container_3{
	display: flex;
	flex-flow: row wrap;
	width: 90%;
	margin: 20px auto;
	justify-content: center;

    .webFormNew{
        display: block;
        // background: $chinese-silver;
        width: 600px;
        margin-right: 40px;
        padding: 5px 10px;
        align-items: stretch;
        border-radius: 10px;
        flex-grow: 0;
        cursor: auto;
        // box-shadow: 1px 1px 3px 1px;

        form{
            // width: 100vw;
			line-height: 50px;
			label{
				font-size: 18px;
				font-weight: bold;
				margin: 0 20px;
				
			}
            
            input {
                width: 530px;
                height: 50px;
				border: none;
				font-size: 18px;
				margin: 20px 20px;
				padding: 0 10px;
				border-radius: 5px;
				box-shadow: 0.2px 0.2px 2px 1px;
				background-color: map-get($background-color, lighter-gray);
			}
			select{
				width: 530px;
                height: 50px;
				border: none;
				font-size: 18px;
				margin: 20px 20px;
				padding: 0 10px;
				// color: $col-gray;
				box-shadow: 0.2px 0.2px 2px 1px;
				background-color: map-get($background-color, lighter-gray);
			}

			textarea{
				width: 530px;
                height: 50px;
				border: none;
				font-size: 20px;
				margin: 20px 20px;
				padding: 10px 20px;
				box-shadow: 0.2px 0.2px 2px 1px;
				background-color: map-get($background-color, lighter-gray);
			}


            .form-service-feild{
                width:530px;
            }

            .message-form {
                width: 530px;
            }
            .submit {
                background: $col-submit;
                color: $col-white;
                width: 92%;
                border-radius: 5px;
                font-size: map-get($font-size, big);
                line-height: 70px;
				height: 70px;
				// margin: 10px 20px 20px 380px;
				box-shadow: 0.2px 0.2px 2px 1px;
				letter-spacing: 2px;             
                &:hover{
                    color: $col-yellow;
                    cursor: pointer;
                }
            }
        }
    }
}
#email{
	padding: 0 25px;
}
.container_3 div{
	display: block;
	// background: $chinese-silver;
    width: 25%;
	cursor: pointer;
}
.formH2{
	margin: 15px auto;
	text-align: left;
	
    // background-color: $col-blue;
	padding: 15px 0;
	margin-left: 15px;
	border-radius: 5px;
	font-size: 48px;
	font-weight: bold;
}

.container_3 div img{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 10px;
		margin-bottom: 10px;
}
.container_3 div h1{
	display: block;
	margin: 5px 0 10px 35px;
}

.container_3 div p{
	display: block;
	margin: 5px 20px 10px 35px;
	font-size: 18px;
	color: rgb(9, 0, 136);
	letter-spacing: .05em;
	line-height: 1.4rem;
}

.container_3 #phone-btn{
	cursor: default;
	border: 1px solid $chinese-silver;
    border-radius: 15px;
	margin-left: 10px;
	background: $col-white;
	height: 300px;
	width: 300px;
	box-shadow: 0.5px 0.5px 5px 0px;
	margin-top: 140px;
}

.container_3 #phone-btn .phone-text{
	margin-left: 20px;
	width: 90%;
	display: inline-flex;
	align-content: center;
	align-items: center;
	background: $col-white;	
}

.container_3 #phone-btn .phone-text img{
	margin: 5px 10px;
}

.container_3 #phone-btn .phone-text:hover{
	box-shadow: none;
	transition: 1s;
	border: none;
	background: none;
	border-radius: 0px;
	cursor: default;
}

@media screen and (max-width: 400px) {
	.container_2{
		display: none;
	}
	.container_3{
		display: flex;
		flex-flow: column wrap;
		width: 100%;
	}
	
	.container_3 div{
		width: 100%;
		cursor: pointer;
	}
}

@media screen and (min-width: 400px) and (max-width: 768px){
	.container_2{
		display: none;
	}
	.container_3{
		margin-top: 50px;
		margin-bottom: 20px;
		display: flex;
		flex-flow: column wrap;
		width: 100%;
	}
	.container_3 div{
		width: 75%;
	}
}

/* Style inputs with type="text", select elements and textareas */
.webForm input[type=text], select, textarea, input[type=email] {
	width: 100%; /* Full width */
	padding: 12px; /* Some padding */ 
	border: 1px solid #ccc; /* Gray border */
	border-radius: 4px; /* Rounded borders */
	box-sizing: border-box; /* Make sure that padding and width stays in place */
	margin-top: 6px; /* Add a top margin */
	margin-bottom: 16px; /* Bottom margin */
	resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  .webForm input[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  .webForm input[type=submit]:hover {
	background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .webForm {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	/* display: none; */
	flex-flow: row wrap;
	width: 79%;
	margin-left: 70px;
	margin-right: 30px;
	margin: 20px auto;
	padding: 20px 20px;
  }
  
  .showhideWeb{
	  display: none;
  }
  /* .showhidePhone{
	display: none;
} */

#email-btn a{
	text-decoration: none;
}

.textPage{
	width: 70%;
	display: block;
	margin: 10px auto;
	padding: 0 10px; 
}
.textPage > h1{
	color: rgb(51, 24, 24);
	text-transform: uppercase;
	font-size: 32px;
	line-height: 36px;
	justify-self: center;
	margin: 0px auto;
	margin-top: 50px;
	font-weight: bold;
	display: block;
}

.textPage .head2{
	color: dimgrey;
	text-transform: uppercase;
	padding: 20px 0 10px 0;
	font-size: 22px;
	line-height: 32px;
	margin: 10px 0 10px 0;
}

.textPage p{
	font-size: 18px;
}

.textPage > ul{
	padding-left: 50px;
}

.textPage > ul >li{
	line-height: 18px;
	padding: 8px 0;
}

.section1Item p{						/*it.php*/
	line-height: 24px;
	font-size: 20px;
}