//it.php page pathway specialisation tab hidden
#AppDev, #AppInt, #Broadcast, #CloudServices, #Data, #eCommerce, #ITSupport, #JavascriptDev, #NetworkEng, #ProjectTeam,  #Secuirty, #SEO,  #SoftwareDev, #Testing,  #WebDev, #ITform  {
	display: none;
}

.webFormNew {
    display: flex;
    width: 700px;
    line-height: 30px;
    padding-top: 10px;
}