#AppDev, #AppInt, #Broadcast, #CloudServices, #Data, #eCommerce, #ITSupport, #JavascriptDev, #NetworkEng, #ProjectTeam,  #Secuirty, #SEO,  #SoftwareDev, #Testing,  #WebDev, #ITform  {
	display: none;
}

.section1{								
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0px auto;
	justify-content: space-around;
}

.section1Item{							
	width: 350px;
	
}

.section1Item img{						
	width: 350px;
	height: auto;
}
.section3Item{							
	width: 350px;
	max-height: 700px;
	
}
.section3Item h2{						
	text-transform: uppercase;
	color: #0297A5;
	font-size: 24px;
	color: #c5c519;
	padding-top: 20px;

}

.section1Item a.links{					
	font-style: italic;
	font-size: 14px;
	text-decoration: none;
	padding: 30px 0px 30px 0px;
	line-height: 20px;
}
.section1Item h2{						
	text-transform: uppercase;
	color: #0297A5;
	font-size: 24px;
	color: #c5c519;
	padding-top: 20px;
}

.section1Item li{						
	text-decoration: none;
	padding: 10px 2px 0px 10px;
	list-style: none;
	width: 325px;
}

@media only screen and (max-width: 400px){
	.toggle-button{
		display: flex;
	}
	nav .logo{
		color: yellow;
		margin-left: 15px;
		line-height: 50px;
		margin-bottom: 10px;
		display: block;
		font-size: 24px;
	}

	nav .logo  a{
		text-decoration: none;
		color: white;
		cursor: pointer;
	}

	nav ul.menu-area{
		display: none;
	}
	.titleContainer{
		display: none;
	}
	nav > ul{
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-top: 40px;
	}

	nav > ul li.active{
		width: 100%;
		text-align: center;
		display: none;		
	}

	nav > ul li a{
		padding: .5rem 1rem;
	}
	.services{
		/*padding-top: 50px; */
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.services h2{
		font-size: 22px; 
		display: flex;
		justify-content: center;
	}
}

@media screen and (min-width: 400px) and (max-width: 1100px){
	nav .logo{
		display: none;
}
}

@media screen and (min-width: 1101px) and (max-width: 1642px){
	 .logo{
		font-size: 18px;
	}
}