#AppDev, #AppInt, #Broadcast, #CloudServices, #Data, #eCommerce, #ITSupport, #JavascriptDev, #NetworkEng, #ProjectTeam,  #Secuirty, #SEO,  #SoftwareDev, #Testing,  #WebDev, #ITform, #ITtopic, #nextBtn, #position, #package{
	display: none;
}

.section1{								
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0px auto;
	justify-content: center;
	column-gap: 50px;
}

.section1Item{							
	width: 350px;
	
}

.section1Item img{						
	width: 350px;
	height: auto;
}
.section3Item{							
	width: 600px;
	height: auto;
	
	h2{						
		text-transform: uppercase;
		font-size: map-get($font-size, h1Heading);
		font-weight: bold;
		letter-spacing: .8px;
		color: map-get($font-Col, h1Heading);
		padding: 20px 0;
		text-align: left;
		margin-bottom: 40px;
	}
	
	form{
		width: 550px;
		position: auto;
		
		select{
			height: 60px;
			line-height: 50px;
			font-size: map-get($font-size, selectOption);
			padding: 5px 0px 5px 15px;
			border-radius: 10px;
			border: 0;
			border-bottom: 1px solid $col-LightGray;
			width: 100%;
			outline: none;
			background: transparent;
			color: $col-LightGray;
		}
		option{
			color: #000;
		}
		option:first-child{
			color: $col-LightGray;
		}

		input{
			height: 60px;
			line-height: 50px;
			font-size: map-get($font-size, selectOption);
			padding: 5px 0px 5px 15px;
			border: 0;
			border-bottom: 1px solid $col-LightGray;
			border-radius: 10px;
			width: 100%;
			// margin-bottom: 20px;	
			
		}
		
		
		.inputText{
			margin-bottom: 20px;
			padding-left: 20px;
			border: 0;
			border-bottom: 1px solid $col-LightGray;
			border-radius: 10px;
			width: 100%;
			
		}
		.topic {
				color: $col-LightGray;
			}
		#email{
			margin-bottom: 20px;
			width: 100%;
			border-bottom: 1px solid $col-LightGray;
			border-radius: 10px;
		}

		label{
			// height: 60px;
			line-height: 50px;
			font-size: map-get($font-size, selectOption);
			padding-left: 15px;
		}
		.uploadFile{
			border-radius: 10px;
			border: 0;
			// border-bottom: 1px solid $col-LightGray;
			
			margin-bottom: 20px;
			padding-left: 15px;
		}
		.submitBtn{
			font-size: map-get($font-size, submit);
		}
		.dateTime{
			width: 90%;
			border-radius: 10px;
			margin: 5px 10px 10px 10px;
			border: 0;
			border-bottom: 1px solid $col-LightGray;
			border-radius: 10px;
			
		}
		::placeholder{
			color: $col-LightGray;
		}

		.btn-box{
			width: 100%;
			margin: 30px auto;
			text-align: center;
		}

		button{
			width: 110px;
			height: 35px;
			margin: 0 10px;
			background: $btn-background;
			border-radius: 30px;
			border: 0;
			outline: none;
			color: $col-white;
			cursor: pointer;
		}
		textarea{
			// height: 60px;
			line-height: 50px;
			font-size: map-get($font-size, selectOption);
			padding: 5px 0px 5px 15px;
			border: 0;
			border-bottom: 1px solid $col-LightGray;
			border-radius: 10px;
			width: 100%;
			overflow: auto;
			resize: none;
		}
	}
	
	
	
	

	// #jobSpec{
	// 	// height: 60px;
	// 	line-height: 30px;
	// 	font-size: map-get($font-size, selectOption);
	// 	padding-left: 20px;
		
	// }

	
}


.section1Item{ 
	a {					
	
	font-size: 18px;
	text-decoration: none;
	padding: 30px 0px 30px 0px;
	line-height: 20px;
	color: $col-Darkgray;
	
	}
	a:hover{
		color: $col-hover;
		text-decoration: underline;
	}

 	h2{						
	text-transform: uppercase;
	color: #0297A5;
	font-size: 24px;
	color: #c5c519;
	padding-top: 20px;
	}

	li{						
	text-decoration: none;
	padding: 10px 2px 0px 10px;
	list-style: none;
	width: 325px;
	font-size: 18px;
	}
}
@media only screen and (max-width: 400px){
	.toggle-button{
		display: flex;
	}
	nav .logo{
		color: yellow;
		margin-left: 15px;
		line-height: 50px;
		margin-bottom: 10px;
		display: block;
		font-size: 24px;
	}

	nav .logo  a{
		text-decoration: none;
		color: white;
		cursor: pointer;
	}

	nav ul.menu-area{
		display: none;
	}
	.titleContainer{
		display: none;
	}
	nav > ul{
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-top: 40px;
	}

	nav > ul li.active{
		width: 100%;
		text-align: center;
		display: none;		
	}

	nav > ul li a{
		padding: .5rem 1rem;
	}
	.services{
		/*padding-top: 50px; */
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.services h2{
		font-size: 22px; 
		display: flex;
		justify-content: center;
	}
}

@media screen and (min-width: 400px) and (max-width: 1100px){
	nav .logo{
		display: none;
}
}

@media screen and (min-width: 1101px) and (max-width: 1642px){
	 .logo{
		font-size: 18px;
	}
}

