
/*Title larg image*/



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

@mixin transition-ease{
    transition: all 0.5s ease-in-out;
}


// $background-img:(
//     "index": url("../images/img-home.jpg") no-repeat center,
//     "aboutus": url("../images/about-us.jpg") no-repeat center,
//     "itPage": url("../images/img-home.jpg") no-repeat center
// );

// @use "sass:map";
// $index: url("../images/img-home.jpg") no-repeat center;
// $aboutus: url("../images/about-us.jpg") no-repeat center;
// $itPage: url("../images/img-home.jpg") no-repeat center;


// @mixin titleImage($property, $bg-img-url){
//     width: 100vw;
// 	// #{$property}: $bg-img-url;
// 	height: 650px;
// 	// background-color: $chinese-silver;
// 	display: flex;
// 	margin-top: 0;
// 	flex-flow: column wrap;
// }

// .index-title {
//     @include titleImage;
//     background: url("../images/img-home.jpg") no-repeat center;
// }

// .about-title {
//     @include titleImage(background, $aboutus);
// }

// .it-title {
//     @include titleImage(background, $itPage);
// }