.submitBtn{
    background: $col-submit;
    border-radius: 10px;
    font-size: map-get($font-size, submit);
    color: $col-white;
    
}

.submitBtn:hover{
        color: yellow;
    }
*, input{
    outline:none;
}


