
@media screen and (max-width: 768px){
  
    .top-page-grid{
        padding-top: 40px;
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto;
        width: 85%;
    }
    .top-text {
        font-size: 16px;
        line-height: 22px;
        margin-top: 10px;
        padding-bottom: 22px;
        text-align: justify;

        h1{
            padding-bottom: 22px;
            font-size: 22px;
        }
    }
    .img-3col{
        display: none;
    }

    .sub-heading{
        width: 100%;
        text-align: center;
        margin: 20px auto;
        font-style: 30px;
        
        button{
            margin: 20px auto;
            box-shadow: $box-shadow; 
            @include transition-ease;
            
        }
        .btn {
            margin-bottom: 20px;
            padding: 0.6rem 1.3rem;
            border: none;
            border-radius: 5px;
            background: $col-orange;
            color: $col-white;
            cursor: pointer; 
            font-size: 22px;
            font-weight: 600;
        }
    }

    .top-services{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
   }

   .mid-page-grid{
       width: 85%;
       margin: 20px auto;
       display: grid;
       grid-template-columns: 1fr 1fr;
       justify-items: center;
       text-align: center;
       grid-gap: 40px;
   }
   .para{
        
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    width: 80%;
    
    a {
        text-decoration: none;
        color: $col-blue;
    }

   
    }   
}

@media screen and (max-width: 1500px) and (min-width: 768px)  {
   
    .top-page-grid{
        padding-top: 75px;
        display: grid;
        grid-template-columns: 1fr;

        margin: 0 auto;
        width: 85%;
    }
    .top-text {
        order: 1;
        font-size: 18px;
        line-height: 22px;
        margin-top: 10px;
        padding-bottom: 22px;
        text-align: justify;

        h1{
            padding-bottom: 22px;
        }
    }
    .img-3col{
        margin: 0 auto;
        margin-bottom: 20px;
        order: 2;
    }

    .sub-heading{
        margin: 20px auto;
        font-style: 30px;
        text-align: center;
        margin-top: 25px;

        button{
            margin: 20px auto;
            box-shadow: $box-shadow; 
            @include transition-ease;
            
        }
        .btn {
            background: $col-orange;
            color: $col-white;
            padding: 0.6rem 1.3rem;
            font-size: 22px;
            font-weight: 600;
            cursor: pointer; 
            border: none;
            border-radius: 5px;
            margin-bottom: 200px;
        }
    }

    .top-services{
        width: 85%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
   }

   .mid-page-grid{
       width: 85%;
       margin: 20px auto;
       display: grid;
       grid-template-columns: 1fr 1fr;
       justify-items: center;
       text-align: center;
       grid-gap: 40px;
   }
   .para{
        
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    width: 80%;
    
    a {
        text-decoration: none;
        color: $col-blue;
    }
}
    .grayBackground {
        background-color: $col-LightGray;
    }
}


@media screen and (min-width: 1501px){
 
   .page-heading{       
        border-bottom: 1px solid $col-Darkgray;
        background-color: #e4e4e4;
        margin: 0 auto;
        box-shadow: 0px 1px 20px #444;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 50px;
        position: sticky;
        top: 30px;
       h1{
           text-align: center;
           color: $col-Darkgray;
           font-size: 3rem;
           margin: 0 auto;
           line-height: 100px; 
           text-shadow: 5px 10px 10px $col-LightGray;
           font-weight: bold;
           text-transform: uppercase;
       }
   }

   .booking{
       margin: 0 auto;
       text-align: center;
       padding-top: 35px;
       width: 60%;
       line-height: 2rem;
       img{
           padding-right: 20px;
           
       }
       .booking-text{
           font-size: 24px;
       }
       button{
           margin: 35px 0;
           padding: 15px 25px;
           font-size: 28px;
           cursor: pointer;
           border: none;
           outline: none;
           box-shadow: 2px 2px 5px $col-Darkgray;
           background-color: $col-submit;
           color: white;
           text-transform: uppercase;
           border-radius: 15px;
           }
           button:hover{
            background-color: $col-hover;
            
           }
           
       
   }

    .top-page-grid{
        
        padding-top: 75px;
        margin: 0 auto;
        display: grid;
        grid-gap: 10px;
        justify-content: center;
        grid-template-columns: 35% 35%;     

        .img-3col img{
            box-shadow: $box-shadow;
            border-bottom-right-radius: 250px;
            border-top-left-radius: 235px;
            // margin: 0 20px;
            justify-items: left;
        }
 
        .top-text h1{
            text-align: center;
            font-size: 36px;
            font-weight: bold;
            color: $col-blue;
            padding-bottom: 10px;
        }
        .top-text p{
            line-height: 28px;
            font-size: 22px;
            text-align: justify;
        }
    }

    .sub-heading {
        margin: 0 auto;
        margin-top: 80px;

        h2 {
            color: $col-skyBlue !important;
            font-size: 32px !important;
            font-weight: 600;
            margin: 20px 0px;
            text-align: center;
            
            
        }
        button{
            margin: 0 45%;
            box-shadow: $box-shadow; 
            @include transition-ease;
        }
        .btn {
            background: $col-orange;
            color: $col-white;
            padding: 0.6rem 1.3rem;
            font-size: 22px;
            font-weight: 600;
            cursor: pointer; 
            border: none;
            outline: none;
            border-radius: 5px;
            text-transform: uppercase;
        }
    
        .btn:hover{
            color: $col-Darkgray;
            border: none;
            border-radius: 5px;
        }
        
    }
         .borderBelow {
            width: 400px;  
            border-bottom: 2px solid $col-orange; 
        }
    .top-services__heading {grid-area: heading;}
    .top-services__img {grid-area: img;}

    .top-services{
        margin: 0 auto;
        margin-top: 30px;
        grid-gap: 35px;
        justify-content: center;
        display: grid;
        grid-template-areas: 
            "img img img img";   

        &__img{
            // width: 100vw;
            padding: 10px 5px;
            // justify-items: space-around;
            grid-template-rows: 300px 300px;
            grid-template-columns: 300px 300px 300px 300px;
            cursor: pointer;
        }
    }


    .mid-page-grid{
        // width: 65vw;
        margin: 0 auto;
        margin-top: 30px;
        text-align: center;
        padding-top: 15px;

        display: grid;
        grid-template-columns: auto auto auto auto; 
        justify-content: center;
        grid-gap: 80px;
        
        line-height: 24px;
        font-size: 18px;

    }

    .para{
        
        margin: 0 auto;
        padding-top: 15px;
        padding: 10px;
        margin-top: 30px;
        text-align: center;
        line-height: 24px;
        font-size: 18px;
        a {
            text-decoration: none;
            color: $col-blue;
        }
    }

    .show-me-how{
        background: $col-orange;
        height: 350px;
        width: 100vw;
        margin: 30px 0px -55px 0px;
        padding-top: 15px;
        display: grid;
        grid-template-columns: auto auto auto auto; 
        text-align: center;
        font-size: 18px;
    }

}

.three-options{
    display: grid;
    grid-template-columns: auto 1px auto 1px auto;
    width: 80%;
    margin: 20px auto;
    justify-items: center;
    grid-gap: 10px;
}

.three-options div{
    width: 300px 1px;
    
    h2{
        font-size: 32px;
        .price{
            color: $col-Darkgray;
            padding-left: 10px;
        }
    }
    li{
        font-size: 1rem;
        text-align: left;
        // padding-left: 10px;
        list-style-type: square;
        line-height: 1.4rem;
        .outside{
            list-style-position: outside;
        }
        
    }
}

@media only screen and (max-width: 768px){
    .three-options div{
        display: block;
 
    }
        .vlLeft150{
            display: none;
        }
        div.bronze{
                display: flex;
                flex-flow: column;
                width: 100vw;
                order: 1;
            }
        div.silver{
                display: flex;
                flex-flow: column;
                width: 100vw;
                order: 2;
            }
        div.gold{
                display: flex;
                flex-flow: column;
                width: 100vw;
                order: 3;
            }
    }
    