.home{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: $col-white;
        // linear-gradient(
        //     to right,
        //     rgba($col-Darkgray, 0.9),
        //     rgba($col-white, 0.3)
        // );
        
    color: $col-Darkgray;
    &__name {
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid $col-white;
        color: $col-Darkgray;

        &--last {
            color: $col-orange;
            font-weight: 700;
            
        }
    }

}