@media only screen and (max-width: 1024px){
$col-yellow: yellow;
$col-blue: blue;
$col-Darkgray: #666;


.menu-btn{
    position: absolute;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;

    &__burger {
        position: absolute;
        right: 0;
        top: 0.5rem;
        width: 28px;
        height: 3px;
        background: $col-yellow;
        @include transition-ease;

        &::before {
            content: '';
            position: absolute;
            top: -8px;
            width: 32px;
            height: 3px;
            background: $col-yellow;
            @include transition-ease;
        }

        &::after {
            content: '';
            position: absolute;
            top: 8px;
            width: 24px;
            background: $col-yellow;
            height: 3px;
            @include transition-ease;
        }

        &.open {
            transform: rotate(1080deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 8px);
                width: 28px;
            }

            &::after {
                transform: rotate(-45deg) translate(3px, -7px);
                width: 28px;
            }
        }
       
    }
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;
    

    &.open {
        visibility: visible;
    }

    .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: #000;
        list-style-type: none;
        padding-right: 1rem;
        transform: translateY(-100%);
        position: fixed;
        @include transition-ease;
        

    &.open {
        transform: translateY(0);
        }   
        
    &__item {
        transform: translateX(100vw);
        @include transition-ease;

        &.open{
            transform: translateX(0);
        }

        &.active > a{
            color: $col-yellow;
        }
    }

    &__link {
        display: inline-block;
        font-size: 2rem;
        text-transform: uppercase;
        padding: 2rem 0;
        font-weight: 300;
        @include transition-ease;

        &:hover {
            color: $col-blue;
        }
    }
    }
}

@for $i from 1 through 4 {
    .menu-nav__item:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s) + 0.15s;
    }
}
nav ul.menu-area {
    display: none;
}

}

@media only screen and (min-width: 1025px){
    .wrapper{
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1;
        
        z-index: 1;
    }
    
    nav{
        position: fixed;
        background: $col-Darkgray;
        font-size: 1rem;
        margin: 0 auto;
        width: 100%;
        flex-basis: atuo;
    } 
    
    nav:after{
        content: '';
        clear: both;
        display: table;
    }
    
    nav > ul{
        position: relative;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        z-index: 1;
    }
    
    nav a{
        display: block;
        color: $col-white;
        text-decoration: none;
        text-transform: uppercase;
    }
    
    nav ul li{
        color: $col-white;
        list-style: none;
        transition: 0.5s;
        }
    
    nav > ul > li > a{
        padding: 1rem 25px;
    }
    
    nav ul > li.dropdown > a:after{
        position: relative;
        float: right;
        content: '';
        margin-left: 10px;
        margin-top: 8px;
        @include transition-ease;
    }
    
    nav > ul > li:hover{
        background: $col-skyBlue;
    }
    
    nav ul ul ul h1{
        color: $col-blue;
        font-size: 1.3rem;
    }
    
    nav ul.menu-area{
        padding: 40px 40px 0 40px;
        
        border-top: 5px solid #164c82;
        box-shadow: 0 5px 10px rgba(0,0,0,0.6);
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        position: absolute;
        display: grid;
        grid-template: repeat(2, 200px) / repeat(4, 1fr);	
        grid-gap: 10px;
        width: 100%;
        height: 575px;
        top:-9999px;
        left: 0;
        text-align: left;
        // @include transition-ease;
        transition-timing-function: linear;
        opacity: 1;
        background: $col-white;
    }
    
    nav ul.menu-area .image-menu-area{
        grid-row: 1/3;
        // margin-right: 30px;
    }
    
    nav ul.menu-area .image-menu-area img{
        /* border: solid #BDBDBD 1px;  */
        box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
        -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
        -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5)  ; 
        border-bottom-left-radius: 20px;
        
    }
    
    nav ul li:hover ul.menu-area{
        top: 100%;
        opacity: 1;
    }
    
    nav ul.menu-area ul{
        width: 25%;
        margin-bottom: 40px;
        color: $col-Darkgray;
    }
    
    nav ul.menu-area h4{
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    
    nav ul.menu-area ul li{
        display: block;
    }
    
    nav ul.menu-area ul li a{
        color: $col-black;
        margin-top: 10px;
        text-transform: none;
    }
    
    nav ul.menu-area ul li a:hover{
        color: $col-skyBlue;
        text-decoration: none;
    }
    













   .titleImageDiv{
        display: table;
        background-color: #fff;
        color: #fff;
    }
    
    .titleImageH1{
        display: flex;
        margin-top: -600px;
        font-size: 3rem;
        color: $col-white;
        margin-left: 300px;
        line-height: 80px;
        text-shadow: 0 0 10px hsla(120, 100%, 25%, 0.5),
                     0 0 10px hsla(120, 100%, 25%, 0.5),
                     0 0 10px hsla(120, 100%, 25%, 0.5),
                     0 0 5px hsla(120, 100%, 25%, 1),
                     0 0 5px hsla(120, 100%, 25%, 1),
                     0 0 5px hsla(120, 100%, 25%, 1);
    }
    
    .titleImageText{
        display: flex;
        /*margin-top: -400px;*/
        font-size: 20px;
        color: $col-white;
        margin-left: 300px;
        line-height: 28px;
        width: 600px;
        letter-spacing: .1em;
        background-color: $col-yellow;
    }

    .services{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 90px;
    
    }
    
    .services h2{
        padding-top: 75px;
        font-size: 3rem;
    }
    
    .services .image-services{
        float: right;
    }
    
    .services .image-services img{
        padding: 25px;
        top: -200px;
        opacity: 0.5;
        height: 200px;
    }
    
    .toggle-button{
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    
    .toggle-button .bar{
        width: 100%;
        height: 3px;
        background-color: $col-white;
        border-radius: 10px;
    }
    
}

.home {
   color: $col-yellow;
   font-weight: 1000;
   background: transparent;
   letter-spacing: 1px;

}

/************************Media View Control***********************/
@media only screen and (max-width: 400px){
	.toggle-button{
		display: flex;
	}
	nav .logo{
		color: yellow;
		margin-left: 15px;
		line-height: 50px;
		margin-bottom: 10px;
		display: block;
		font-size: 24px;
	}

	nav .logo  a{
		text-decoration: none;
		color: white;
		cursor: pointer;
	}

	nav ul.menu-area{
		display: none;
	}

	nav > ul{
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-top: 40px;
	}

	nav > ul li.active{
		width: 100%;
		text-align: center;
		display: none;		
	}

	nav > ul li a{
		padding: .5rem 1rem;
	}
	.services{
		/*padding-top: 50px; */
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.services h2{
		font-size: 22px; 
		display: flex;
		justify-content: center;
	}
/*	nav > ul li.active{
		display: flex;
	}*/
}





@media screen and (min-width: 400px) and (max-width: 1100px){
	nav .logo{
		display: none;
}
}

@media screen and (min-width: 1101px) and (max-width: 1642px){
	 .logo{
		font-size: 18px;
	}
}


