// .index-title {
//     @include titleImage;
//     background: url("../images/img-home.jpg") no-repeat center;
// }

// .about-title {
//     @include titleImage(background, $aboutus);
// }

// .it-title {
//     @include titleImage(background, $itPage);
// }

.titleContainer{						/*index.php, it.php*/
	width: 100%;
	background: url("../../images/img-home.jpg") no-repeat center;
	height: 650px;
	background-color: #cccccc;
	display: flex;
	margin-top: 0;
	flex-flow: column wrap;

	.outer{
		position: absolute;
		color: $col-white;
		margin-left: 200px;
		font-family: roboto;

		h1{
			height: 50px;
			margin-top: 150px;
			font-size: 45px;	
			
			.inner {
				position: absolute;
				line-height: 50px;
				height: 50px;
				font-size: 45px;
				text-transform: uppercase;
				display: inline-block;
				overflow: hidden;
				
				span {
					animation: animate 10s ease infinite;
					position: relative;
					a {
						text-decoration: none;
					}
				}
			}
				@keyframes animate {
					0%{ top: 0}
					20%{ top: 0}
					25%{ top: -50px}
					45%{ top: -50px}
					50%{ top: -100px}
					70%{ top: -100px}
					75%{ top: -150px}
					95%{ top: -150px}
					100%{ top: 0}
				}
			}	
		}
	}
	
.index{
	background: url("../../images/img-home.jpg") no-repeat center;
	
}

.newTest{
	background: url("../../images/IT-Category-Top.jpg") no-repeat center;
}

.About{
	background: url("../../images/about-us1.jpg") no-repeat center;

}

.it {
	background: url("../../images/IT-Category-Top2.jpg") no-repeat center;
	height: 650px;
}

.cv-review{
	background: url("../../images/cv-top.jpg") no-repeat center;
	height: 650px;
}

.career-advice {
	background: url("../../images/career-advice.jpg") no-repeat center;
	height: 650px;
}

.job-search-strategy {
	background: url("../../images/job-search.jpg") no-repeat center;
	height: 650px;
}

.mock-interview {
	background: url("../../images/mock-interview.jpg") no-repeat center;
	height: 650px;
}

.titleItems{							/*it.php*/
	min-width: 450px;
	color: white;
	margin-left: 200px;
	position: absolute;
	margin-top: 190px;
	text-align: justify;
}

.titleH1{								/*it.php*/
	height: 50px;
	margin-top: 150px;
	font-size: 44px;
	letter-spacing: .1em;
	order: 0;
}

.titleP{								/*it.php*/
	max-width: 450px;
	height: 150px;
	margin-top: 20px;
	font-size: 22px;
	letter-spacing: 0.05em;
	order: 1;
}

	.titlePAbout{						/*about.php*/
		max-width: 450px;
		height: 150px;
		margin-top: 20px;
		font-size: 22px;
		letter-spacing: 0.05em;
		order: 1;
		margin-top: -100px;								
		margin-left: 1000px;
		padding-top: 30px;
	}
	
	.titleBtnAbout{						/*about.php*/
		font-size: 18px;
		background: #0066ff;
		border-radius: 2px;
		width: 175px;
		margin-top: 20px;
		text-transform: uppercase;
		height: 50px;
		letter-spacing: 0.1em;
		color: white;
		margin-left: 275px;						
		margin-left: 0px;
		margin-top: 150px;	
	}


.titleBtn{								/*it.php*/
	font-size: 18px;
	background: #0066ff;
	border-radius: 2px;
	width: 175px;
	margin-top: 20px;
	text-transform: uppercase;
	height: 50px;
	letter-spacing: 0.1em;
	color: white;
	margin-left: 275px;
}

.titleBtn:hover{						/*it.php*/
	box-shadow: 0 0 5px #33ffff,
				0 0 5px #66ffff;
	color: yellow;
	cursor: pointer;

}

.titleImageDiv{
	display: table;
	background-color: #fff;
	color: #fff;
	/*opacity: 10%;*/
}

.titleImageH1{
	display: flex;
	margin-top: -600px;
	font-size: 48px;
	color: #fff;
	margin-left: 300px;
	line-height: 80px;
	text-shadow: 0 0 10px hsla(120, 100%, 25%, 0.5),
                 0 0 10px hsla(120, 100%, 25%, 0.5),
                 0 0 10px hsla(120, 100%, 25%, 0.5),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1);
}

.titleImageText{
	display: flex;
	/*margin-top: -400px;*/
	font-size: 20px;
	color: #fff;
	margin-left: 300px;
	line-height: 28px;
	width: 600px;
	letter-spacing: .1em;
	background-color: yellow;
}

.services{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 90px;
	h2{
		padding-top: 75px;
		font-size: 48px;
	}
	.image-services{
		float: right;
	}
	.image-services img{
		padding: 25px;
		top: -200px;
		opacity: 0.5;
		height: 200px;
	}
}


.toggle-button{
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
	.bar{
		width: 100%;
		height: 3px;
		background-color: white;
		border-radius: 10px;
	}
}



/************************Media View Control***********************/
@media only screen and (max-width: 768px){
	.titleContainer{
		display: none;
	}

}

