$background-color: (
    "light": #fff,
    "black": #000,
    "dgray": rgb(44, 44, 44),
    "midgray": rgb(100, 100, 100),
    "lgray": rgb(180, 180, 180)
);

$font-w: (
    "sm": 14px,
    "md": 20px,
    "lrg": 26px
);

$text-color:  #fff;
$b-color: #000;

$mobile: 800px;
