$background-color: (
    "light": rgb(255, 255, 255),
    "black": #000,
    "dgray": rgb(44, 44, 44),
    "midgray": rgb(100, 100, 100),
    "light-gray": rgb(231, 231, 231),
    "lighter-gray": rgb(247, 247, 247),
    "lgray": rgb(180, 180, 180)
);

$font-size: (
    "sm": 14px,
    "md": 20px,
    "lrg": 26px,
    "big": 32px
);

$text-color:  #fff;
$b-color: #000;

$mobile: 800px;
$col-gray: gray;
$col-white: #fff;
$col-LightGray: rgb(177, 177, 177);
$col-Darkgray: rgb(68, 66, 66);
$col-black: #000;
$col-orange: rgb(185, 130, 0);
$col-yellow: yellow;
$primary-color: #272727;
$secondary-color:#ff652f;
$col-blue: rgb(8, 8, 221);
$col-skyBlue: #668fc5;
$title-col: white;
$chinese-silver: #cccccc;
$col-orange: #e58e26;
$col-submit: green;
$col-hover: rgb(3, 184, 3); 

$font-size-small: 1rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$title-h1-font-size: 44px;
$title-p-font-size: 22px;
$title-btn-font-size: 18px;


$box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);

.vlLeft150 {
    border-left: 1px solid $col-Darkgray;
    height: 150px;
    margin: 0;
    padding: 0;
}
.vlLeft200 {
    border-left: 2px solid $col-Darkgray;
    height: 200px
}
.vlLeft300 {
    border-left: 3px solid $col-Darkgray;
    height: 300px
}
.vlLeft400 {
    border-left: 4px solid $col-Darkgray;
    height: 400px
}
.vlLeft500 {
    border-left: 4px solid $col-Darkgray;
    height: 500px
}

.vlLeft600 {
    border-left: 4px solid $col-Darkgray;
    height: 600px
}
.vlLeft700 {
    border-left: 4px solid $col-Darkgray;
    height: 700px
}