$background-color: (
    "light": #fff,
    "black": #000,
    "dgray": rgb(44, 44, 44),
    "midgray": rgb(100, 100, 100),
    "lgray": rgb(180, 180, 180)
);

$font-size: (
    "sm": 14px,
    "md": 20px,
    "lrg": 26px
);

$text-color:  #fff;
$b-color: #000;

$mobile: 800px;

$col-white: #fff;
$col-LightGray: rgb(177, 177, 177);
$col-Darkgray: rgb(68, 66, 66);
$col-black: #000;
$col-orange: rgb(185, 130, 0);
$col-yellow: yellow;
$primary-color: #272727;
$secondary-color:#ff652f;
$col-blue: rgb(8, 8, 221);
$col-skyBlue: #668fc5;
$title-col: white;
$chinese-silver: #cccccc;
$col-orange: #e58e26;
$col-submit: green;

$font-size-small: 1rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$title-h1-font-size: 44px;
$title-p-font-size: 22px;
$title-btn-font-size: 18px;


