@import './config';
@import './variables';
@import './menu';
@import './titleContainer';
@import './contactus';
@import './contents';
@import './footer';
@import './contactPage';



body {
    color: black;
    background: white;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: $col-white;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    // padding: 1rem;
}

main {
    height: 100%;
    width: 100%;


.social-icons {
    position: fixed;
    bottom: 1rem;
    left: 1rem;

    a {
        padding: 0.4rem;
        @include transition-ease;

        &:hover {
            color: $col-yellow;
         }
        }
    }

}


