.container{
	width: 90%;
	display: flex;
	background-color: gray;
	height: 100vh;
	margin: 0 auto;
	flex-flow: row nowrap;
}

.container h1{
	color: white;
	margin: 60px 0;
	/* justify-content: left; */
	
}

.container_2{
	display: flex;
	background: DodgerBlue;
	justify-content: center;
	width: 100%;
	justify-items: center;
}

.container_2 > div{
	background: white;
	width: 35%;
	margin: 10px;
	min-height: 400px;
	color: rebeccapurple;
	line-height: 25px;
	padding-top: 20px;
	margin-top: 80px;
}
