*{
	margin: 0px;
	padding: 0px;
	font-family: 'poppins', sans-serif;
	box-sizing: border-box;
}

body{
	background: #fff;
}

.wrapper{
	display: flex;
	flex-flow: row nowrap;
	flex-grow: 1;

}

nav{
	position: absolute;
	background: #262626;
	font-size: 16px;
	margin: 0 auto;
	width: 100%;
	/*opacity: 90%;*/
	flex-basis: atuo;
} 

nav:after{
	content: '';
	clear: both;
	display: table;
}

.logo{
	color: white;
	padding-left: 80px;
	padding-right: 80%;
	line-height: 50px;
	position: absolute;
	font-size: 32px;
	cursor: pointer;
	float: left;
	display: block;
}

.logo > a{
	text-decoration: none;
	cursor: pointer;
}

nav > ul{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	/*width: 1170px;*/
	/*display: inline-block;*/
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

nav a{
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

nav ul li{
	color: #fff;
	list-style: none;
	transition: 0.5s;
	}

nav > ul > li > a{
	padding: 15px 25px;
}

nav ul > li.dropdown > a:after{
	position: relative;
	float: right;
	content: '';
	margin-left: 10px;
	margin-top: 8px;
}

nav > ul > li:hover{
	background: #668fc5;
}




nav ul ul ul h1{
	color: #0066ff;
	font-size: 38px;
}

nav ul.menu-area{
	padding: 40px 40px 0 40px;
	background: #fff;
	text-align: left;
	border-top: 5px solid #164c82;
	box-shadow: 0 5px 10px rgba(0,0,0,0.6);
	z-index: 1;
	position: absolute;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	top:-9999px;
	left: 0;
	transition: top .3s;
	transition-timing-function: linear;
	opacity: 0;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

nav ul li:hover ul.menu-area{
	top: 100%;
	opacity: 1;

}

nav ul.menu-area ul{
	width: 25%;
	margin-bottom: 40px;
	color: #262626;
}

nav ul.menu-area h4{
	margin-bottom: 15px;
	text-transform: uppercase;
}

nav ul.menu-area ul li{
	display: block;
}

nav ul.menu-area ul li a{
	color: #000;
	margin-top: 10px;
	text-transform: none;
}

nav ul.menu-area ul li a:hover{
	color: #164c82;
	text-decoration: underline;
}

/* .cv, #interview{
	display: none;
}*/

.titleImageDiv{
	display: table;
	background-color: #fff;
	color: #fff;
	/*opacity: 10%;*/
}

.titleImageH1{
	display: flex;
	margin-top: -600px;
	font-size: 48px;
	color: #fff;
	margin-left: 300px;
	line-height: 80px;
	text-shadow: 0 0 10px hsla(120, 100%, 25%, 0.5),
                 0 0 10px hsla(120, 100%, 25%, 0.5),
                 0 0 10px hsla(120, 100%, 25%, 0.5),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1),
                 0 0 5px hsla(120, 100%, 25%, 1);
}

.titleImageText{
	display: flex;
	/*margin-top: -400px;*/
	font-size: 20px;
	color: #fff;
	margin-left: 300px;
	line-height: 28px;
	width: 600px;
	letter-spacing: .1em;
	background-color: yellow;
}



.services{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 90px;

}

.services h2{
	padding-top: 75px;
	font-size: 48px;
}

.services .image-services{
	float: right;
}

.services .image-services img{
	padding: 25px;
	top: -200px;
	opacity: 0.5;
	height: 200px;
}

.toggle-button{
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar{
	width: 100%;
	height: 3px;
	background-color: white;
	border-radius: 10px;
}



/************************************Flexbox*************************/

 .titleContainer{
	width: 100%;
	background-image: url("../images/img-home.jpg");
	height: 650px;
	background-color: #cccccc;
	display: flex;
	margin-top: 50px;
	flex-flow: column wrap;
}

.titleItems{
	min-width: 450px;
	color: white;
	margin-left: 250px;
}

.titleH1{
	height: 50px;
	margin-top: 150px;
	font-size: 44px;
	letter-spacing: .1em;
	order: 0;
}

.titleP{
	max-width: 450px;
	height: 150px;
	margin-top: 20px;
	font-size: 22px;
	letter-spacing: 0.05em;
	order: 1;
}

.titleBtn{
	font-size: 18px;
	background: #0066ff;
	border-radius: 2px;
	width: 175px;
	margin-top: 20px;
	text-transform: uppercase;
	height: 50px;
	letter-spacing: 0.1em;
	color: white;
}

.titleBtn:hover{
	box-shadow: 0 0 5px #33ffff,
				0 0 5px #66ffff;
	color: yellow;
	cursor: pointer;

}

.section1{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin: 0px auto;
	justify-content: space-around;
	/*padding: 10px 0;*/
	/*background-color: #0297A5;*/
	/*color: white*/
}

.section1Item{
	width: 350px;
}

.section1Item a.links{
	font-style: italic;
	font-size: 14px;
	
	/*color: white;*/
	text-decoration: none;
	padding: 30px 0px 30px 0px;
	line-height: 20px;
}
.section1Item h2{
	text-transform: uppercase;
	color: #0297A5;
	font-size: 24px;
	color: #c5c519;
	padding-top: 20px;
}

.section1Item li{
	text-decoration: none;
	padding: 10px 2px 0px 10px;
	list-style: none;
	width: 325px;
}





/************************Media View Control***********************/
@media only screen and (max-width: 400px){
	.toggle-button{
		display: flex;
	}
	nav .logo{
		color: yellow;
		margin-left: 15px;
		line-height: 50px;
		margin-bottom: 10px;
		display: block;
		font-size: 24px;
	}

	nav .logo  a{
		text-decoration: none;
		color: white;
		cursor: pointer;
	}

	nav ul.menu-area{
		display: none;
	}
	.titleContainer{
		display: none;
	}
	nav > ul{
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
		margin-top: 40px;
	}

	nav > ul li.active{
		width: 100%;
		text-align: center;
		display: none;		
	}

	nav > ul li a{
		padding: .5rem 1rem;
	}
	.services{
		/*padding-top: 50px; */
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.services h2{
		font-size: 22px; 
		display: flex;
		justify-content: center;
	}
/*	nav > ul li.active{
		display: flex;
	}*/
}





@media screen and (min-width: 400px) and (max-width: 1100px){
	nav .logo{
		display: none;
}
}

@media screen and (min-width: 1101px) and (max-width: 1642px){
	 .logo{
		font-size: 18px;
	}
}