*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.footer{
	margin-top: 60px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	overflow: hidden;
	padding: 10px 0;
	box-sizing: border-box;
	background-color: #18181a;
	justify-content: left;
	position: relative;
	bottom: 0;
}

.inner_footer{
	margin: 0 auto;
	width: 100%;
	height: 100%;
}

 /*.f_logo_container{
	width: 30%;
	float: left;
	height: 100%;
	display: block;
}*/

/*.footer_third:first-child > h1{
	font-size: 1.5rem;
	color: #a79316;
	padding-left: 60px;
	letter-spacing: 0.1rem;
	height: 100%;
}*/

/*.footer_third{
	width: calc(21.6666666667% - 20px);
	margin-right: 10px;
	float: left;
	height: 100%;
}*/

.footer_third{
	/*width: calc(21.6666666667% - 20px);*/
	margin: 0 30px;
	float: left;
	height: 100%;
	justify-content: space-between;
	padding: 0 30px;
}

/*.footer_third:last-child{
	margin-right: 0;
}*/

/*.footer_third:first-child{
	padding-right: 70px;
}*/


.footer_third h1{
	font-family: 'arial';
	font-size: 18px;
	color: #ededed;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	letter-spacing: .2em;
}

.inner-footer > :first-child h1{
	color: #c6b025;
	padding-right: 150px;
}

.footer_third a{
	font-family: 'poppings', sans-serif;
	font-size: 12px;
	font-weight: 200;
	color: #c4b5b5;
	display: block;
	width: 100%;
	margin-bottom: 5px;
	padding-bottom: 2px;
	text-decoration: none;
}

@media screen and (max-width: 768px){
	.footer{
		display: none;
	}

}



@media  screen and (min-width: 769px) and (max-width: 1100px){
	.footer{
		margin-top: 2px;
		width: 100%;
		display: flex;
		flex-flow: column nowrap;
		/*overflow: hidden;*/
		padding: 2px 0;
		/*box-sizing: border-box;*/
		background-color: #18181a;
		justify-content: left;
		position: absolute;
		bottom: 0;
	}
	.footer_third h1{
	font-family: 'arial';
	font-size: 14px;
	color: #ededed;
	/*display: block;*/
	width: 100%;
	margin-top: 10px;
	}
	.footer_third{
	/*width: calc(21.6666666667% - 20px);*/
	margin: 0 30px;
	/*float: left;*/
	height: 100%;
	justify-content: space-between;
	padding: 0 30px;
	flex-flow: column wrap;
	color: white;
}
}